<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean name="student" class="com.rihui.di.Student"></bean>

	<bean name="person" class="com.rihui.di.Person">
		<property name="pid" value="10"></property>
		<property name="pname" value="aabbccddeeffgg"></property>
		<property name="student">
			<ref bean="student"/>
		</property>
		<property name="lists">
			<list>
				<value>1</value>
				<value>2</value>
				<ref bean="student"/>
			</list>
		</property>
		<property name="sets">
			<set>
				<value>1</value>
				<value>10</value>
				<value>10</value>
				<ref bean="student"/>			
				<ref bean="person"/>			
			</set>
		</property>
		<property name="maps">
			<map>
				<entry key="aaa">
					<value>11</value>
				</entry>
				<entry key="bbb">
					<value>22</value>
				</entry>
				<entry key="ccc">
					<ref bean="student"/>
				</entry>
			</map>
		</property>
		<property name="properties">
			<props>
				<prop key="aaa">
					bbb
				</prop>
			</props>
		</property>
	</bean>

</beans>
