<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="person" class="com.rihui.extend.Person">
		<property name="name">
			<value>aaa</value>
		</property>
	</bean>
	
	<!-- 
		parent="person"
	 -->
	<bean id="student" class="com.rihui.extend.Student" parent="person"></bean>

</beans>